@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos globais */
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

body{
  padding: 8px;
}

/* Estilos para o formulário de busca */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

input, button {
  height: 36px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 8px;
  box-sizing: border-box;
}

button {
  width: 96px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  margin-left: 4px;
}

/* Estilos para a lista de resultados */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.video-item {
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 1px solid #ddd;
  padding: 8px;
  margin-bottom: 10px;
}

.video-item p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  direction: ltr;
  font-size: 12px;
  border-radius: 8px;
}

.video-info {
  display: flex;
  flex-direction: column;
  width: 86px;
  height: 96px;
}

.video-info a {
  display: flex;
  align-items: center;
  width: 96px;
  height: 16px;
  background-color: darkcyan;
  border-radius: 8px;
  color: #fff;
  padding: 8px;
  text-decoration: none;
}

.video-info img {
  max-width: 100%;
  margin-bottom: 10px;
}

#results {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 8px;
  justify-content: space-around;
}

@media (min-width: 768px) {

  /* Estilos para telas maiores */
  .video-info {
    flex-direction: row;
  }

  .video-info img {
    margin-right: 20px;
  }
}